[submodule "proyectos/tema4/nxapp-router"]
	path = proyectos/tema4/nxapp-router
	url = https://github.com/jamj2000/nxapp-router.git
[submodule "proyectos/tema4/nxapi-memory"]
	path = proyectos/tema4/nxapi-memory
	url = https://github.com/jamj2000/nxapi-memory.git
[submodule "proyectos/tema4/nxapi-mongodb"]
	path = proyectos/tema4/nxapi-mongodb
	url = https://github.com/jamj2000/nxapi-mongodb.git
[submodule "proyectos/tema4/nxcookie"]
	path = proyectos/tema4/nxcookie
	url = https://github.com/jamj2000/nxcookie.git
[submodule "proyectos/tema5/nxform"]
	path = proyectos/tema5/nxform
	url = https://github.com/jamj2000/nxform.git
[submodule "proyectos/tema5/nxfactions"]
	path = proyectos/tema5/nxfactions
	url = https://github.com/jamj2000/nxfactions.git
[submodule "proyectos/tema5/nxcloudinary-upload"]
	path = proyectos/tema5/nxcloudinary-upload
	url = https://github.com/jamj2000/nxcloudinary-upload.git
[submodule "proyectos/tema5/nxcloudinary-gallery"]
	path = proyectos/tema5/nxcloudinary-gallery
	url = https://github.com/jamj2000/nxcloudinary-gallery.git
[submodule "proyectos/tema5/cloudinary"]
	path = proyectos/tema5/cloudinary
	url = https://github.com/jamj2000/cloudinary.git

[submodule "proyectos/tema5/nxcloudinary-crud"]
	path = proyectos/tema5/nxcloudinary-crud
	url = https://github.com/jamj2000/nxcloudinary-crud.git
[submodule "proyectos/tema6/nxmysql-crud"]
	path = proyectos/tema6/nxmysql-crud
	url = https://github.com/jamj2000/nxmysql-crud.git
[submodule "proyectos/tema6/nxsqlite-crud"]
	path = proyectos/tema6/nxsqlite-crud
	url = https://github.com/jamj2000/nxsqlite-crud.git
[submodule "proyectos/tema6/nxpostgres-crud"]
	path = proyectos/tema6/nxpostgres-crud
	url = https://github.com/jamj2000/nxpostgres-crud.git
[submodule "proyectos/tema6/nxprisma-crud"]
	path = proyectos/tema6/nxprisma-crud
	url = https://github.com/jamj2000/nxprisma-crud.git
[submodule "proyectos/tema6/nxmysql-app"]
	path = proyectos/tema6/nxmysql-app
	url = https://github.com/jamj2000/nxmysql-app.git
[submodule "proyectos/tema8/nxauth-middleware"]
	path = proyectos/tema8/nxauth-middleware
	url = https://github.com/jamj2000/nxauth-middleware.git
[submodule "proyectos/tema8/nxauth-all"]
	path = proyectos/tema8/nxauth-all
	url = https://github.com/jamj2000/nxauth-all.git
[submodule "proyectos/tema8/nxauth-credentials"]
	path = proyectos/tema8/nxauth-credentials
	url = https://github.com/jamj2000/nxauth-credentials.git
[submodule "proyectos/tema8/nxauth-oauth"]
	path = proyectos/tema8/nxauth-oauth
	url = https://github.com/jamj2000/nxauth-oauth.git
[submodule "proyectos/tema4/nxapi-mysql"]
	path = proyectos/tema4/nxapi-mysql
	url = https://github.com/jamj2000/nxapi-mysql.git
[submodule "proyectos/tema6/nxprisma-crud-negocio"]
	path = proyectos/tema6/nxprisma-crud-negocio
	url = https://github.com/jamj2000/nxprisma-crud-negocio.git
[submodule "examenes/examen-dwes-node-next"]
	path = examenes/examen-dwes-node-next
	url = https://github.com/jamj2000/examen-dwes-node-next.git
[submodule "examenes/examen-dwes-bis-node-next"]
	path = examenes/examen-dwes-bis-node-next
	url = https://github.com/jamj2000/examen-dwes-bis-node-next.git
[submodule "examenes/examen-dwes-nextjs-prisma"]
	path = examenes/examen-dwes-nextjs-prisma
	url = https://github.com/jamj2000/examen-dwes-nextjs-prisma.git
[submodule "examenes/examen-dwes-bis-nextjs-prisma"]
	path = examenes/examen-dwes-bis-nextjs-prisma
	url = https://github.com/jamj2000/examen-dwes-bis-nextjs-prisma.git
